@import 'bourbon';
// @import 'neat';
@import '~normalize.css/normalize.css';
@import '~font-awesome/scss/font-awesome.scss';
@import 'foundation';



body {
  font-family: "Poiret One";
}


///////////// APP ///////////////

.appHeader {
  background-image: url('../../public/assets/images/headerBackground2.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Poiret One";
  height: 100vh;
}

.headerName {
  float: right;
  font-size: 4rem;
  padding-right: 5%;
  color: white;
  text-transform: uppercase;
}

///////////// NEW APP ///////////////

.nonHomeHeader {
  background-image: url('../../public/assets/images/headerBackground2.jpeg');
  background-position: top;
  background-repeat: no-repeat;
  font-family: "Poiret One";
  height: 100px;
}

.nonHomeHeaderName {
  float: right;
  font-size: 3rem;
  padding-right: 5%;
  color: white;
  text-transform: uppercase;
}

///////////// INDEX ///////////////

.indexContainer {
  text-align: center;
  margin-top: 100px;
  min-height: 100vh;
}

.findATrailForm {
  margin-top: 20px;
}

.indexTrailContainer {
  margin: 10px 8.33%;
  border: 1px solid #999999;
  border-radius: 5px;
  background: #FAFAFA;
  padding: 5px;
  text-align: left;
}


///////////// LOGIN ///////////////

.loginForm {
  margin-top: 100px;
  text-align: center;
}

///////////// TRAIL VIEW ///////////////

.trailViewTrailContainer {
  max-width: 750px;
  margin: 0 auto;
  text-align: left;
}

.trailViewTrailInfoContainer {
  @include clearfix;
}

.trailViewTrailName {
  width: 65%;
  padding: 5px;
  float: left;
  display: inline-block;
}

.trailViewTrailName p {
  margin-bottom: 3px;
}

.trailViewTrailOptions {
  padding: 5px;
  width: 35%;
  float: right;
  display: inline-block;
  text-align: right;
  @include clearfix;
  position: relative;

}

.trailViewConditionsRating p {
  margin-bottom: 0;
}

.trailViewTrailOptionsButton {
  display: block;
  margin-bottom: 3px;
  float: right;
  clear: both;
  width: 150px;
  font-size: .75rem;
}

.trailViewFormContainer {
  transition: all .5s ease;
}

.trailViewAddTrailTextarea {
  resize: none;
}
