@import 'bourbon';
// @import 'neat';
@import '~normalize.css/normalize.css';
@import '~font-awesome/scss/font-awesome.scss';
// @import 'foundation';

@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap/dist/css/bootstrap-theme.css';



body {
  font-family: "Poiret One";
  padding-top: 52px;
}


///////////// APP ///////////////

.appHeader {
  background-image: url('../../public/assets/images/headerBackground2.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Poiret One";
  height: 100vh;
}

.headerName {
  float: right;
  font-size: 5rem;
  padding-right: 5%;
  color: white;
  text-transform: uppercase;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.appHeaderContainer {
  
}

///////////// NEW APP ///////////////

.nonHomeHeader {
  background-image: url('../../public/assets/images/headerBackground2.jpeg');
  background-position: top;
  background-repeat: no-repeat;
  font-family: "Poiret One";
  height: 100px;
}

.nonHomeHeaderName {
  float: right;
  font-size: 3rem;
  padding-right: 5%;
  color: white;
  text-transform: uppercase;
}

///////////// NAV ///////////////

.navContainer {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

///////////// INDEX ///////////////

.indexContainer {
  text-align: center;
  margin-top: 100px;
  min-height: 100vh;
  max-width: 1000px;
  margin: 100px auto;
}

.findATrailForm {
  margin-top: 20px;
}

.indexTrailContainer {
  margin: 10px 8.33%;
  border: 1px solid #999999;
  border-radius: 5px;
  background: #FAFAFA;
  padding: 5px;
  text-align: left;
}

.indexCityContainer {
  width: 100%;
}

.indexCityTextContainer {
  width: 30%;
  display: inline-block;
  text-align: right;
}

.indexFormText {
  display: inline-block;
}

.indexCityInputContainer {
  padding: 10px;
  width: 70%;
  display: inline-block;
  text-align: left;
}

.indexFormInput {
  display: inline-block;
  width: 80%;
  padding: 5px;
  border: 1px solid #CCCCCC;
  transition: border .5s ease, background-color .5s;
  -webkit-appearance: none;
  -webkit-border-radius: 0;

  &:focus {
    border: 1px solid #999999;
    box-shadow: none;
    outline: 0;
    background-color: #F8F8F8;
  }
}

.indexFormInput:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.indexFormSelect {
  background-image: url('../../public/assets/images/select-arrow.png');
  background-position: 100% 50%;
  background-repeat: no-repeat;
}

.indexSubmitButtonContainer {
  width: 100%;
  text-align: right;
  padding-right: 15%
}

.indexSubmitButton {

}

///////////// LOGIN ///////////////

.loginForm {
  margin-top: 100px;
  text-align: center;
}

///////////// TRAIL VIEW ///////////////

.trailViewTrailContainer {
  max-width: 750px;
  margin: 0 auto;
  text-align: left;
}

.trailViewTrailInfoContainer {
  @include clearfix;
}

.weather {
  background-color: #E4E4E4;
  padding: 5px;
}

.temperatureContainer {
  width: 50%;
  display: inline-block;
}

.precipContainer {
  width: 50%;
  display: inline-block;
  text-align: right;
}

.trailViewTrailName {
  width: 65%;
  padding: 5px;
  float: left;
  display: inline-block;
}

.trailViewTrailName p {
  margin-bottom: 3px;
}

.trailViewTrailOptions {
  padding: 5px;
  width: 35%;
  float: right;
  display: inline-block;
  text-align: right;
  @include clearfix;
  position: relative;

}

.trailViewConditionsRating p {
  margin-bottom: 0;
}

.trailViewTrailOptionsButton {
  display: block;
  margin-bottom: 3px;
  float: right;
  clear: both;
  width: 150px;
  font-size: .75rem;
}

.trailViewFormContainer {
  @include clearfix;
  transition: all .5s ease;
}

.trailViewAddTrailTextarea {
  resize: none;
}

.trailViewRideContainer {
  width: 100%;
  padding: 5px;
  margin: 10px 0;
  background-color: #F4F4F4
}

.trailViewRideDateContainer {
  display: inline-block;
  width: 30%;
}

.trailViewRideInfoContainer {
  display: inline-block;
  width: 70%;
}

.trailViewRideDate {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.trailViewRideCondition {
  display: inline-block;
  width: 50%;
  float: left;
}

.trailViewRideUser {
  width: 50%;
  display: inline-block;
  float: right;
  text-align: right;
}
